h1{
    text-align: center;
}

.container{
    width:900px; 
}

.form-control{
    width:50%;
}

.form-horizontal{
    margin-left: auto;
    margin-right: auto;
    
}

.surligne{
    color:white;
    width:200px;
    height:20px;
    border-radius:4px;
    background-color:green;
}